.fade-enter {
  opacity: 0;
  transform: translateX(20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 300;
  transition: opacity 300ms, transform 300ms;
}

.first-time-view-wrapper {
  height: 100vh;
  display: flex;
  justify-content: stretch;
  padding: 0;
}

.first-time-view-panel-wrap {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.first-time-view-panel-body {
  max-height: unset;
}