.pwd-security .text-value {
  margin-top: -10px;
  width: 100%;
}

.pwd-security .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.pwd-security .container {
  flex: 1;
  height: 8px;
  background: #dfdfe7;
  border-radius: 12px;
  overflow: hidden;
}

.pwd-security .filler-bg {
  height: inherit;
  transition: "width 2s ease-i-out";
  background: linear-gradient(to right, #ff0000, #ffa500, #ffff00, #00ff00);
}